<div class="today-info">
    <div class="today-list">
        <h2 class="today-list__number">{{day-number}}th {{dayOfWeek}}</h2>

        <ul class="today-list__item">
            <li class="today-list__dayOfWeek">{{month}}</li>
            <li class="today-list__time">{{time}}</li>

        </ul>

        <ul class="today-list__item">
            <li class="today-list__sunrice">{{sunrice}}</li>

            <li class="today-list__sunset">{{sunset}}</li>
        </ul>

        </ul>
    </div>
</div>