<div class="today">
    <svg class="today__svg">
        <use href="./sprite.svg#{{icon}}"></use>
    </svg>
    <h2 class="today__city">{{name}}, {{country}}</h2>
    <div class="today__box">
        <p class="today__temp">{{tempNow}}</p>
        <div class="today__min__max">
            <div class="today__min">
                <p class="today__min__text">min</p>
                <p class="today__min__temp">{{tempMin}}&deg</p>
            </div>
            <div class="today__max">
                <p class="today__max__text">max</p>
                <p class="today__max__temp">{{tempMax}}&deg</p>
            </div>
        </div>
    </div>
</div>