<div class="today-info">
    <div class="today-list">
        <h2 class="today-list__number">{{dayNumber}}<sub>{{th}}</sub>{{dayOfWeek}}</h2>
        <div class="today-list__box">
            <ul class="today-list__item">
                <li class="today-list__dayOfWeek">{{month}}</li>
                <li class="today-list__time">{{time}}</li>

            </ul>

            <ul class="today-list__item">

                <li class="today-list__sunrice">
                    <svg class="today-list__item__svg">
                        <use href="./sprite.svg#icon-sunrise"></use>
                    </svg>
                    {{sunrise}}
                </li>

                <li class="today-list__sunset">
                    <svg class="today-list__item__svg">
                        <use href="./sprite.svg#icon-sunset"></use>
                    </svg>
                    {{sunset}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="quotes">
    <p class="quotes__text"><svg class="quotes__svg">
        <use href="./sprite.svg#quote"></use>
    </svg>Who cares about the clouds when we're together? Just sing a song and bring the sunny
        weather.</p>
    <p class="quotes__autor">Dale Evans</p>
</div>